<footer class="bg-primary text-center text-white mt-5 footer">
    <!-- Grid container -->
    <div class="p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-facebook-f footerIcon"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-twitter footerIcon"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-google footerIcon"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-instagram footerIcon"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-linkedin-in footerIcon"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-github footerIcon"></i
            ></a>
            <a id="contactAdmin" class="btn btn-primary ml-5" href="{{ path('contact.index') }}">Contacter un administrateur</a>
        </section>
    </div>
    <!-- Copyright -->
</footer>