<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-collapse" id="navbarColor04">
            <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event.new') }}">Créer un évènement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event.myevent') }}">Evènement que j'organise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event.events') }}">Evènements auxquels je participe</a>
            </li>
            </ul>
        </div>
    </div>
</nav>