<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h3 class="mt-2 mr-4">Admin</h3>
        <div class="navbar-collapse" id="navbarColor04">
            <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin.user.index') }}">Gestion des utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('game.index') }}">Gestion des jeux</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Requêtes admin</a>
            </li>
            </ul>
        </div>
    </div>
</nav>