<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor04">
            <form id="searchMapForm" class="d-flex form-inline">
                <div class="input-group">
                    <label class="m-2" for="searchType">Je recherche des</label>
                    <select class="form-select m-2" id="searchType">
                        <option value="player">joueurs</option>
                        <option value="event">évènements</option>
                    </select>
                </div>
                <div class="input-group">
                    <label class="m-2" for="searchGame">pour le jeu</label>
                    <select class="form-select m-2" id="searchGame">
                        {% for game in app.user.games|sort((a, b) => a.gameName <=> b.gameName) %}
                        <option value="{{game.id}}">{{game.gameName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="submitButton" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</nav>


