{% extends 'base.html.twig' %}
{% set showSearchBar = true %}

{% block title %}Games & Friends - Carte{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Carte</h1>
		<div id="map" class="mt-4">
		</div>
		<div class="modal" id="modalError" style="display: none;">
			<div class="modal-back"></div>
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header modal-header-error">
							<h5 class="modal-title">Aucun résultat n'a été trouvé.</h5>
						</div>
						<div class="modal-body">
							<p>Veuillez modifier votre recherche avant de recommencer.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="modalSearch" style="display: none;">
			<div class="modal-back"></div>
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Recherche en cours</h5>
						</div>
						<div class="modal-body">
							<div class="loader">
								<div class="loaderBar"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ asset('js/mapScript.js') }}"></script>
{% endblock %}