{% extends 'base.html.twig' %}

{% block title %}Games & Friends - Carte{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Carte</h1>
		<div id="map" class="mt-4">
		</div>
	</div>
	<script src="{{ asset('js/mapScript.js') }}"></script>
{% endblock %}