<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <h1>Bonjour {{ user.name }}.</h1>
            <p>Vous avez un nouveau message sur Games & Friends.</p>
            <p>Consultez-le <a href="{{ url('message.index')}}">ici</a> !</p>
            <p>L'équipe de Games & Friends</p>
            <p><small>Ceci est un email automatique, veuillez ne pas y répondre.</small></p>
        </div>
    </body>
</html>
