<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <h1>Bonjour {{ user.name }}.</h1>
            <p>Bienvenue sur Games & Friends !</p>
            <p>Votre inscription a bien été enregistré, vous pouvez dès à présent vous connecter <a href="{{ url('security.login')}}">ici</a> et profiter de toutes les fonctionnalités !</p>
            <p>Merci de votre confiance et bon jeu !</p>
            <p>L'équipe de Games & Friends</p>
            <p><small>Ceci est un email automatique, veuillez ne pas y répondre.</small></p>
        </div>
    </body>
</html>
